body {
    font-family: 'Roboto', sans-serif;
    background-color: #b5a789;
    font-size: small;
    margin: 0px;
}

h1 {
    font-size: 120%;
    color: #954b4b;
}

a:link {
    color: #b76666;
    text-decoration: none;
    border-bottom: thin dotted #b76666;
}

#linkfooter a:link, #linkfooter a:visited {
    color: #efe5d0;
    border-bottom: thin dotted #efe5d0;
}

a:visited {
    color: #675c47;
    text-decoration: none;
    border-bottom: thin dotted #675c47;
}

.header {
    background-color: #675c47;
    margin: 10px 10px 0;
    height: 108px;
}

.main {
    background-color: #efe5d0;
    font-size: 105%;
    padding: 15px;
    margin: 0 10px 10px;
}

.aside {
    background-color: #efe5d0;
    font-size: 105%;
    padding: 15px;
    margin: 0 10px 10px;
}

.name {
    text-align: center;
    line-height: 1,8em;
}

.footer {
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-size: 90%;
}

.slogan {
    float: right;
}

.light-color {
    color: #777268;
}

nav {
    background-color: #efe5d0;
    margin: 10px 10px 0;
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding: 5px 0;
}

nav ul li {
    display: inline;
    padding: 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color: #954b4b;
    border-bottom: none;
    font-weight: bold;
    text-shadow: 1px 1px 3px #e2c2c2;
}